body{
    margin: 0px;
}

#container {
    height: 100vh;
    /* Center vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

#button{
    font-size: 10vw;
    background: grey;
    color: black;
    border: none;
    padding: 4vw 7vw;
    border-radius: 15vw;
    font-weight: bold;
}

#button:hover{
    color: white;
    cursor: pointer;
}

#message{
    font-size: 1.5vw;
    font-family: sans-serif;
    margin-bottom: 5vw;
}